@media (min-width: 360px) and (max-width: 768px) {
    .header{
        align-items: center;
        background: linear-gradient(to bottom, #000000, #000000a6, #00000000);
        box-sizing: border-box;
        color: white;
        display: flex;
        justify-content: space-between;
        height: 80px;
        margin: 0;
        padding: 1.5rem;
        position: absolute;
        width: 100vw;
        z-index: 10;
        &__title{
            font-weight: bold;
        }
        &__btnMobile{
            display: block;
        }
        &__menu{
            display: block;
            position: absolute;
            width: auto;
            padding: 1rem;
            top: 45px;
            right: 20px;
            list-style: none;
            background: #0000009d;
            border: none;
            border-radius: 10px;
        }
    }
    
}
@media (min-width:1441px){
    .header{
        align-items: center;
        background: linear-gradient(to bottom, #000000, #0000008c, #00000000);;
        box-sizing: border-box;
        color: white;
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding: 1.5rem 300px;
        position: absolute;
        width: 100vw;
        &__title{
            font-size: 2.5rem;
            font-weight: bold;
        }
        &__btnMobile{
            display: none;
        }
        &__menu{
            display: flex;
            gap: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        &__item{
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            padding: 0.5rem;
        }
        &__item:hover{
            border-bottom: 2px solid #ffffff;
        }
    }
}