@media (min-width: 360px) and (max-width: 768px) {
    .handleClick {
        display: none;
    }

    .disable {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .handleClick {
        display: none;
    }

    .disable {
        display: none;
    }
}

@media (min-width: 1441px) {
    .disable {
        display: none;
    }

    .handleClick {
        display: flex;
        justify-content: space-between;
        position: relative;
        // top: -395px;
        top: -260px;
        padding: 0 1rem;
        z-index: 1000;

        &__button {
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            border-radius: 50%;
            color: #ffffff;
            // padding: 164px 1rem;
            padding: 1.5rem;
            cursor: pointer;
        }

        &__icon {
            height: 30px;
            width: 30px;
        }
    }
}