.lista{
    list-style: none;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding: 0 1rem;
    &__title{
        width: 120px;
    }
    &__poster{
        max-width: 150px;
        max-height: 190px;
        object-fit: contain;
        border-radius: 5px;
    }
    &__grafico{
        color: white;
        background-color: black;
    }
}
.lista::-webkit-scrollbar{
    height: 4px;
    // background-color: #000f26;
    background-color: transparent;
}
.lista::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 5px;
}