.similarMovies{
    color: #fff;
    &__list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }
    &__movie{
        text-align: center;
    }
    &__poster{
        width: 190px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__vote{
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    &__star{
        color: #ee8c09;
        margin-right: .5rem;
        padding: 0;
    }
}