@media (min-width: 360px) and (max-width: 768px){
    .container{
        gap: 0;
        height: fit-content;
        margin: 0;
        padding: 0;
        &__backdrop{
            height: auto;
            margin: 0;
            padding: 0;
            object-fit: contain;
            width: 100vw;
        }
    }
    .details{   
        align-items: center;
        background: #000f26;     
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin: 0;
        padding: 1rem;
        &__back{
            align-items: flex-end;
            color: #ffffff;
            background: transparent;
            border: none;
            display: flex;
            margin: 1.5rem 0 0 1.5rem;
            width: 50%;        
        }
        &__arrow{
            padding-right: .3rem;
            transform: scale(1.5);
        }
        &__poster{
            height: 240px;
            padding: 1.5rem;
        }
        &__title{
            color: #ffffff;
            margin: 0;
        }
        &__text{
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            padding: 1rem 0;
            text-align: justify;
            text-indent: 2rem;
        }
        &__list{
            align-items: center;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0 0 1rem 0;
            width: calc(100vw - 2rem);        
        }
        &__genres{
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            width: calc(100vw - 1rem);
        }
        &__genreItem{
            background: #004DBF;
            border-radius: 5px;
            padding: 0.3rem 0.5rem;
        }
    }
}
@media (min-width: 769px) and (max-width: 1440px){
    .container{
        gap: 0;
        height: fit-content;
        margin: 0;
        padding: 0;
        &__backdrop{
            height: auto;
            margin: 0;
            padding: 0;
            object-fit: contain;
            width: 100vw;
        }
    }
    .details{   
        align-items: center;
        background: #000f26;     
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin: 2.5rem 100px;
        padding: 0;
        &__back{
            align-items: flex-end;
            background: transparent;
            border: none;
            color: #ffffff;
            display: flex;
            font-size: 20px;
            margin: 2rem 0 0 100px;
            width: 50%;        
        }
        &__arrow{
            padding-right: .6rem;
            transform: scale(1.5);
        }
        &__poster{
            height: 350px;
            padding: 1.5rem;
        }
        &__title{
            color: #ffffff;
            font-size: 24px;
            line-height: 30px;
            margin: 0;
        }
        &__text{
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            padding: 1rem 0;
            text-align: justify;
            text-indent: 2rem;
        }
        &__list{
            align-items: center;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: .5rem 0 1.5rem 0;
            width: calc(100vw - 250px);        
        }
        &__genres{
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            width: calc(100vw - 1rem);
        }
        &__genreItem{
            background: #004DBF;
            border-radius: 5px;
            padding: 0.3rem 0.5rem;
        }
    }   
}
@media (min-width: 1441px){
    .container{
        gap: 0;
        height: fit-content;
        margin: 0;
        padding: 0;
        &__backdrop{
            height: auto;
            margin: 0;
            padding: 0;
            object-fit: cover;
            object-position: 50% 20%;
            height: 450px;
            width: 100%;
        }
    }
    .details{   
        align-items: center;
        background: #000f26;     
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        margin: 2.5rem 0;
        padding: 0;
        &__back{
            align-items: flex-end;
            background: transparent;
            border: none;
            color: #ffffff;
            display: flex;
            font-size: 20px;
            margin-left: 100px;
            width: 50%;
        }
        &__arrow{
            padding-right: .6rem;
            transform: scale(1.5);
        }
        &__poster{
            height: 400px;
            padding: 0;
        }
        &__title{
            color: #ffffff;
            font-size: 24px;
            line-height: 30px;
            margin: 0;
        }
        &__text{
            font-size: 16px;
            line-height: 24px;
            margin: 0 1.5rem;
            padding: 1rem 0;
            text-align: justify;
            text-indent: 2rem;
            width: 600px;
        }
        &__list{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: .5rem 0 1.5rem 0;
            width: auto;        
        }
        &__genres{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0 1.5rem;
        }
        &__genreItem{
            background: #004DBF;
            border-radius: 5px;
            padding: 0.3rem 0.5rem;
            text-align: center;
        }
    }
    .box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1rem;
    }
    .box2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}