@media (min-width: 360px) and (max-width: 768px) {
    .banner {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 350px; 
        position: relative;
        z-index: -100;
           
        &__img{
            box-sizing: border-box;
            height: inherit;
            position: absolute;
            object-fit: cover;
            width: 100%;   
            z-index: -1000;
        }
        &__container{
            background-color: #0000009a;
            padding: 1rem 2rem;
        }
        &__title{
            font-size: 24px;
            margin: 0;
        }
        &__overview{
            display: none;
        }
        &__moreInformation{
            background: #f2363d;
            border: none;
            border-radius: 5px;
            color: #ffffff;
            margin-top: 8px;
            padding: 0.3rem 0.8rem;
        }
    }
}